
@{
    ViewBag.Title = "How would you like to receive your order?";
}

<h2 class="title text-center">@ViewBag.Title</h2>

<form method="post">
    <div class="row">
        <div class="board">
            <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
            <div class="board-inner">
               
            </div>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <h4 class="head text-center">Collect your order at our warehouse.</h4>
                    <h4> <i class="fa fa-map-marker"></i> 1234 Bet Software St,Umhlanga Durban, 4001 </h4>
                    <h4> <i class="fa fa-clock-o"></i>  Monday - Friday</h4>
                    <h4> <i class="fa fa-clock-o"></i>  8:30 am - 17:00 pm working hours</h4>
                    <a href="@Url.Action("PlaceOrder","Shopping", new {id = "collect" })" class="btn btn-default"> Continue</a>
                </div>
                <div class="tab-pane fade" id="profile">
                    <h3 class="head text-center">Deliver the order to my address</h3>
                    <div class="input_field">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            @*<textarea type="text" class="form-control" id="Physical_Address" ng-model="PropertyModel.Physical_Address" required ng-minlength="3" ng-maxlength="255" style="min-height:100px; resize:none" placeholder="Physical Address"></textarea>*@
                            <div id="locationField">
                                <input id="autocomplete" name="autocomplete" placeholder="Enter your address here" required class="form-control" onFocus="geolocate()" type="text" style="min-width:360px" />
                            </div>
                            <br />
        </div>
    </div>
  </div>
</form>
