@{
    ViewBag.Title = "Home";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h2 class="title text-center">Welcome And thanks for choosing BET-eCommerce, today!!!</h2>
<br />
<div>
    <img src="~/Images/Icons/logo.jpg" style="height:240px; width:100%" />
</div>
<br />
<br />
<br />
<br />
<br />
<br />