@{
    ViewBag.Title = "Home";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h2 class="title text-center">Let Start hopping at BET-eCommerce, today!!!</h2>
<br />
<div>
    <img src="~/Images/Icons/cart.png" style="height:210px; width:80%" />
</div>
<br />
<br />
<br />
<br />
<br />
<br />



<script>
    try {
        var storTest = window['localStorage'];

        var name = @ViewBag.Name
        storTest.setItem("Name", name);

        storTest.removeItem("");
    }
catch (e) { alert("Please go away"); }
</script>
